#edit-upload
  .upload-video-success
    .component-video#upload-video-success-com{:value => "aaaa"}
      .thumbnail-top
        / .view
        /   %img.icon-eye{:alt => "uiza-upload",:src => "/img/icon/eye-icon.png"}
        /   .text
        /     7550 view
        .state-upload
          %img.icon-success{:alt => "uiza-upload",:src => "/img/icon/alert-success.png"}
        .play-icon
          %img.icon-play{:alt => "uiza-upload",:src => "/img/icon/play-icon-2x.png"}
      .content-bottom
        .info-video
          .video-name#video-name Demo
          .time-upload a moment ago
        .action
          .btn-cus.get-embed
            Get Embbed
          .btn-cus.copi-link#copy-link{:value => "aaaaaa"}
            Copy link
    .popup-sign-up
      .content
        .header
          %img.close-btn{:alt => "uiza-upload",:src => "/img/icon/close-icon.png"}
        .bottom
          .text
            Sign Up Now for better experience
          .btn-sign-up{:onclick => "location.href='#{ENV['UIZA_SIGNUP_URL']}';"}
            Sign up
  .upload-video-progress
    .component-video
      .thumbnail-top
        .state-upload
          %img.icon-success{:alt => "uiza-upload",:src => "/img/icon/alert-process.png"}
      .content-bottom
        .progress#progress-upload
          .progress-bar-load
        .upload-value
          Uploading...
          %span#value-progres 0%
  .upload-video-fail
    .component-video
      .thumbnail-top
        .state-upload
          %img.icon-success{:alt => "uiza-upload",:src => "/img/icon/alert-fail.png"}
      .content-bottom
        .progress
          .progress-bar-load
        .upload-value
          Failed! File is too large
//modal upload fail
#upload-fail-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %img.close-icon-modal{:alt => "uiza-upload",:src => "/img/icon/close-icon.png"}
      .modal-body
        .title
          Failed!
        .content-fail
          Uploading Failed! The file is too large or wrong format. Please choose another file.
        .action
          .btn-close-modal
            Close
          .upload-btn-wrapper
            %button.btn
              Upload new video
            %input#re-upload-video{:name => "myfile", :type => "file"}
