.container
  .row
    .col
      #uiza-content
        = render 'layouts/toggleable_tabs'
        #upload-video-block
          %span.big-title
            Simple Video sharing
          .description-note
            %span.title Upload a video
            %span.video-des Maximum 5 minutes  and 100 MB size per file
            %span.video-des Basic format (.mp4, .m4v, .mov, .avi, .ts, .webm)
          
     
