.container
  .row
    .col
      #uiza-content
        = render 'layouts/toggleable_tabs'
        #upload-video-block
          %span.big-title
            Simple Video sharing
          .description-note
            %span.title Upload a video
            %span.video-des Maximum 5 minutes  and 100 MB size per file
            %span.video-des Supported formats (.mp4, .m4v, .mov, .avi, .ts, .webm)
          #dropZone
            %img.upload-icon{:alt => "Smiley face",:src => "/img/icon/icon-upload.png"}
            .upload-btn-wrapper
              %button.btn
                %span Choose files to upload
              %input#fileInput{:name => "myfile", :type => "file"}
            .text-with-line
              %img.line{:alt => "Smiley face",:src => "/img/icon/line.png"}
              %span OR
              %img.line{:alt => "Smiley face",:src => "/img/icon/line.png"}
            %span.last-text
              Drag and Drop here
          .sign-up-now
            %a{:href => "#{ENV['UIZA_SIGNUP_URL']}"} 
              %span Sign Up now
            %span for better experience and premium features!
          .benefit
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Unlimited videos upload
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Be able to edit video, change thumbnail, add subtitle and more
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Full roadmap access and contribution
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Early access to new features and services
        = render 'upload/edit'



     
