#edit-live-event
  .header
    .title
      %span.big-tit Sale 2019
      %span.small-tit Buy unlimited items with Sale promotion
    .action
      .broadcasting
        %img.icon{:alt => "Smiley face",:src => "/img/icon/broad-icon.png"}
      .get-link-btn
        .label Get link play
      .get-embed-btn
        .label Get Embed
  .streaming-block
    .info
      .stream-url
        .label StreamURL
        %input
        %img.icon-copy{:alt => "Smiley face",:src => "/img/icon/copy-input.png"}
      .stream-key
        .label StreamKey
        %input
        %img.icon-copy{:alt => "Smiley face",:src => "/img/icon/copy-input.png"}
    .tutorial
      %span Input the StreamURL & StreamKey to Start your Live event. 
      %a{:href => "#"} Learn how to push signal
    .count-down-time
      .label Countdown Timer
      %img.icon-support{:alt => "Smiley face",:src => "/img/icon/support-icon.png"}
      .count-down
        %img.icon-lock{:alt => "Smiley face",:src => "/img/icon/lock-icon.png"}
        .text 02:15:30