#live-event-block {
  height: auto;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  margin-top: 50px;
  width: 610px;
  .big-title {
    font-family: $ibm-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    // line-height: 15px;
    color: #77909D;
    margin-bottom: 48px;
    text-align: left;
  }
  .live-form {
    width: 100%;
    overflow: hidden;
    margin-bottom: 41px;
    .name {
      width: 50%;
      text-align: left;
      .label {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #152935;
        margin-bottom: 5px;
        span {
          color: #DC3545;
        }
      }
      input {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #DFE3E6;
        box-sizing: border-box;
        border-radius: 4px;
        height: 35px;
        font-family: $ibm-font;
        font-size: 14px;
        color: #77909D;
        padding-left: 8px;
      }
    }
    .description-text{
      width: 100%;
      text-align: left;
      display: flex;
      margin-top: 21px;
      .label{
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #152935;
        width: 60%;
      }
      .text {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 17px;
        color: #65686B;
        height: 34px;
      }
    }
    .live-des {
      width: 50%;
      height: 100px;
      background: #FFFFFF;
      border: 1px solid #DFE3E6;
      box-sizing: border-box;
      border-radius: 4px;
      font-family: $ibm-font;
      font-size: 14px;
      color: #77909D;
      resize: none;
      float: left;
      padding-left: 8px;
    }
  }
  #create-live-btn {
    width: 100px;
    height: 30px;
    background: #DC3545;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    padding-top: 7px;
    .label {
      font-family: $ibm-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  .sign-up-now {
    margin-top: 41px;
    margin-bottom: 37px;
    a {
      text-decoration-line: underline;
      color: #DC3545;
    }
    span {
      font-family: $ibm-font;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .benefit {
    width: 270px;
    margin-left: 30%;
    span {
      font-family: $ibm-font;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
    &-child {
      margin-bottom: 23px;
      display: flex;
      &-mark-icon {
        width: 12px;
        height: 9px;
        margin-right: 24px;
        margin-top: 2px;
      }
    }
  }
}
#edit-live-event {
  margin-top: 30px;
  width: 100%;
  height: auto;
  .header {
    width: 100%;
    height: 48px;
    padding: 0 30px 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 45px;
    .title {
      width: 240px;
      .big-tit {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #4A4952;
        display: block;
      }
      .small-tit {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #B1BBC1;

      }
    }
    .action {
      padding-top: 5px;
      display: flex;
      .broadcasting {
      }
      .get-link-btn {
        width: 94px;
        height: 30px;
        background: #DC3545;
        border: 1px solid #DC3545;
        box-sizing: border-box;
        border-radius: 4px;
        padding-top: 7px;
        margin-left: 20px;;
        cursor: pointer;
        .label {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #FFFFFF;
          text-align: center;
        }
      }
      .get-embed-btn {
        width: 108px;
        height: 30px;
        background: rgba(210, 213, 215, 0.07);
        border: 1px solid #D2D5D7;
        box-sizing: border-box;
        border-radius: 4px;
        padding-top: 7px;
        margin-left: 20px;;
        cursor: pointer;
        .label {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          text-align: center;

          color: #7E7E7E;
        }
      }
    }
  }
  .streaming-block {
    width: 807px;
    height: 100px;
    margin: auto;
    .info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      .stream-url {
        display: flex;
        position: relative;
        .label {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #152935;
          margin-right: 35px;
          margin-top: 8px;
        }
        input {
          width: 276px;
          height: 31px;
          background: #FFFFFF;
          border: 1px solid #DFE3E6;
          box-sizing: border-box;
          border-radius: 4px;
          margin-right: 26px;
        }
        .icon-copy {
          position: absolute;
          width: 14px;
          height: 18px;
          top: 6px;
          right: 34px;
          cursor: pointer;
        }
      }
      .stream-key {
        display: flex;
        position: relative;
        .label {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #152935;
          margin-right: 35px;
          margin-top: 8px;

        }
        input {
          width: 276px;
          height: 31px;
          background: #FFFFFF;
          border: 1px solid #DFE3E6;
          box-sizing: border-box;
          border-radius: 4px;
        }
        .icon-copy {
          position: absolute;
          width: 14px;
          height: 18px;
          top: 6px;
          right: 8px;
          cursor: pointer;
        }
      }
    }
    .tutorial {
      font-family: $ibm-font;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
      span {
        color: #000000;
      }
      a {
        text-decoration-line: underline;
        color: #DC3545;
      }
    }
    .count-down-time {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      .label {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;

        color: #000000;

      }
      .icon-support {
        width: 14px;
        height: 14px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .count-down {
        width: 80px;
        height: 24px;
        background: rgba(81, 86, 89, 0.5);
        border-radius: 4px;
        padding-left: 6px;
        // padding-top: 6px;
        display: flex;
        .icon-lock {
          width: 11px;
          height: 11px; 
          margin-top: 6px;
          margin-right: 5px;
          
        }
        .text {
          margin-top: 2px;
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          
          color: #FFFFFF;
        }
      }
    }

  }
}
#process-modal-live {
  .modal-dialog {
    .modal-content {
      top: 200px;
      left: -120px;

      width: 680px;
      height: 408px;
      background: #FFFFFF;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.271711);
      border-radius: 4px;
      .modal-header {
        height: 50px;
        background: #F4F5F6;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        justify-content: space-between;
        .title {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #4A4952;
        }
        .close-icon-modal-live{
          cursor: pointer;
        }
      }
      .modal-body {
        padding: 20px 64px;
        .noitice {
          margin-bottom: 27px;
          .big-noitice {
            font-family: $ibm-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #4A4952;
            display: block;
          }
          .small-noitice {
            font-family: $ibm-font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #B1BBC1;
            display: block;

          }
        }
        .icon-progress {
          width: 100%;
          height: 30px;
          margin: auto;
          .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 181px;
          }
        }
        .progress {
          background-color: #F3F2F2;
          height: 9px;
          position: relative;
          width: 100%;
          margin-top: 25px;
          margin-bottom: 20px;
          &-bar-load {
            height: 100%;
            position: relative;
            background: linear-gradient(90deg, #DC3545 35.03%, #F57C7C 102%);
            border-radius: 2px 0px 0px 2px;
            // width: 10%;
          }
        }
        .generate_key {
          width: 100%;
          height: 35px;
          display: flex;
          margin-top: 20px;
          margin-bottom: 20px;
          .label {
            font-family: $ibm-font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #152935;  
            margin-right: 18px;
            margin-top: 9px;         
          }
          input {
            width: 70%;
            background: #FFFFFF;
            border: 1px solid #DFE3E6;
            box-sizing: border-box;
            border-radius: 4px;
          }
        }
      }
    }
  }

}