#header-uiza {
  width: 100%;
  height: 175px;
  padding: 40px 0 85px 0;
  display: flex;
  justify-content: space-between;
  .uiza-logo {
    width: 105px;
    height: 51px;
  }
  .block-signin-signup {
    height: 51px;
    width: 335px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    .terms {
      font-family: $ibm-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #4A4952;
      margin-top: 3px;
      cursor: pointer;
    }
    .btn-sign-up {
      height: 30px;
      width: 100px;
      border-radius: 4px;
      background: #DC3545;
      cursor: pointer;
      span {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: inline;
        color: #FFFFFF;
        margin-left: 30%;
      }
    }
    .btn-sign-in {
      height: 30px;
      width: 94px;
      border-radius: 4px;
      background: rgba(245, 124, 124, 0.07);
      border: 1px solid #F57C7C;
      cursor: pointer;
      span {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #F57C7C;
        margin-left: 30%;
      }
    }
  }
}

#uiza-content {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  margin-bottom: 80px;
}
#upload-video-block {
  width: 700px;
  height: auto;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  margin-top: 40px;
  .big-title {
    font-family: $ibm-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #77909D;
    margin-bottom: 65px;
    display: block;
  }
  .description-note {
    text-align: center;
    margin-bottom: 19px;
    span {
      font-family: $ibm-font;
      display: block;
      margin-bottom: 9px;
    }
    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      // line-height: 18px;
      color: #4A4952;
      

    }
    .video-des {
      font-size: 12px;
      // line-height: 15px;
      font-style: normal;
      font-weight: normal;
      color: #B1BBC1;
    }

  }
  #dropZone {
    width: 100%;
    height: 182px;
    background: #F9FBFC;
    border: 1px dashed #A8BED7;
    box-sizing: border-box;
    border-radius: 4px;
    // padding: 50px;
    .upload-icon {
      width: 60px;
      height: 48px;
      display: block;
      margin: 17px auto;

    }
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      .btn {
        height: 32px;
        border: 1px solid #CED2D4;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 1px 4px #CED2D4;
        padding: 2px 20px;
        span {
          font-family: $ibm-font;
          font-style: normal;
          font-size: 12px;
          color: #464B4E;
        }
      }
      input[type=file] {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  
    .text-with-line {
      span {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: #A4AAAD;
      }
    }
    .last-text {
      font-family: $ibm-font;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #515659;
    }
  }
  .sign-up-now {
    margin-top: 49px;
    margin-bottom: 37px;
    a {
      text-decoration-line: underline;
      color: #DC3545;
    }
    span {
      font-family: $ibm-font;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .benefit {
    width: 382px;
    margin-left: 30%;
    span {
      font-family: $ibm-font;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
    &-child {
      margin-bottom: 23px;
      display: flex;
      &-mark-icon {
        width: 12px;
        height: 9px;
        margin-right: 24px;
        margin-top: 2px;
      }
    }
  }
}

#uiza-tab {
  width: 231px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(125, 129, 131, 0.101336);
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 5px 20px;
  // margin-bottom: 40px;
  span {
    font-family: $ibm-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #77909D;
    cursor: pointer;
    font-weight: bold;;
  }
  .active {
    color: #DC3545;
  }
}
#edit-upload {
  margin-top: 64px;
  display: none;
  .component-video {
    width: 327px;
    height: 316px;
    background:#FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(219, 219, 219, 0.5);
    border-radius: 2px;
    padding: 14px 14px 18px 14px;
  }
  .upload-video-success {
    width: 100%;
    height: auto;
    margin-top: 64px;
    display: none;
    .thumbnail-top {
      height: 170px;
      width: 100%;
      background: #cccccc;
      position: relative;
      background-size: cover; 
      display: flex;
      .view {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 16px;
        top: 14px;
        left: 14px;
        .icon-eye {
          width: 21px;
          height: 13px;
          margin-right: 12px;;
        }
        .text {
          width: 58px;
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 14px;
          color: #FFFFFF;

        }

      }
      .state-upload {
        position: absolute;
        top: 8px;
        right: 14px;
        height: auto;
      }
      .play-icon {
        position: absolute;
        top: 38%;
        left: 40%;
      }
      
    }
    .content-bottom {
      margin-top: 14px;
      height: 120px;
      .info-video {
        font-family: $ibm-font;
        font-style: normal;
        font-weight: bold;
        color: #77909D;
        line-height: 15px;
        .video-name {
          font-size: 12px;
          text-overflow: ellipsis;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .time-upload {
          font-size: 8px;
        }
      }
      .action {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        .get-embed {
          width: 97px;
          height: 28px;
          border: 1px solid #D2D5D7;
          box-sizing: border-box;
          border-radius: 4px;
          font-family: $ibm-font;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #4A4952;
          text-align: center;
          padding-top: 5px;
          cursor: pointer;
        }
        .copi-link {
          width: 97px;
          height: 28px;
          border: 1px solid #DC3545;
          background-color: #DC3545;;
          box-sizing: border-box;
          border-radius: 4px;
          font-family: $ibm-font;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #FFFFFF;
          text-align: center;
          padding-top: 5px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
    
    .popup-sign-up {
      display: flex;
      justify-content: flex-end;
      .content {
        width: 385px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.271711);
        border-radius: 4px;
        padding: 21px 25px;
        .header {
          height: 12px;
          width: 100%;
          margin-bottom: 57px;
          .close-btn {
            float: right;
            cursor: pointer;
          }
        }
        .bottom {
          text-align: center;
          width: 100%;
          
          .text {
            font-family: $ibm-font;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #77909D;
            margin-bottom: 34px;
          }
          .btn-sign-up {
            width: 100px;
            height: 30px;
            border: 1px solid #DC3545;
            background-color: #DC3545;;
            box-sizing: border-box;
            border-radius: 4px;
            font-family: $ibm-font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 5px;
            cursor: pointer;
            margin: auto;
          }
        }
      }
    }
  }
  .upload-video-progress {
    width: 100%;
    height: auto;
    display: none;
    .thumbnail-top {
      height: 170px;
      width: 100%;
      background-size: contain !important;
      background: #E5E5E5;
      position: relative;
      .state-upload {
        display: none;
        position: absolute;
        top: 8px;
        right: 14px;
        height: auto;
      }
    }
    .content-bottom {
      margin-top: 18px;
      height: auto;
      .progress {
        background-color: #F3F2F2;
        height: 9px;
        position: relative;
        width: 100%;
        &-bar-load {
          height: 100%;
          position: relative;
          background: linear-gradient(90deg, #DC3545 35.03%, rgba(220, 53, 69, 0.19) 102%);
        }
      }
      .upload-value {
        margin-top: 10px;;
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #77909D;
        
      }
    }
  }
  .upload-video-fail {
    width: 100%;
    height: auto;
    margin-top: 64px;
    display: none;
    .thumbnail-top {
      height: 170px;
      width: 100%;
      background: #E5E5E5;
      position: relative;
      .state-upload {
        position: absolute;
        top: 8px;
        right: 14px;
        height: auto;
      }
    }
    .content-bottom {
      margin-top: 18px;
      height: auto;
      .progress {
        background-color: #F3F2F2;
        height: 9px;
        position: relative;
        width: 100%;
        &-bar-load {
          height: 100%;
          position: relative;
          background: linear-gradient(90deg, #DC3545 35.03%, rgba(220, 53, 69, 0.19) 102%);
          width: 80%;
        }
      }
      .upload-value {
        margin-top: 10px;;
        font-family: $ibm-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #DC3545;
        text-align: right;
      }
    }
  }

}
#upload-fail-modal {
  .modal-dialog {
    .modal-content {
      top: 200px;
      left: -120px;

      width: 751px;
      height: 272px;
      background: #FFFFFF;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.271711);
      border-radius: 4px;
      padding: 5px 11px;
      .modal-header {
        display: flex;
        justify-content: flex-end;
        border-bottom: none;
        .close-icon-modal {
          cursor: pointer;
        }
      }
      .modal-body {
        text-align: center;
        .title {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 19px;
          color: #4A4952;
          margin-bottom: 25px;
        }
        .content-fail {
          font-family: $ibm-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 19px;
          color: #4A4952;
          margin-bottom: 25px;
        }
        .action {
          display: flex;
          width: 100%;
          height: 30px;
          margin-left: 230px;
          .btn-close-modal{
            width: 100px;
            height: 30px;
            background-color: #EBEBEB;;
            box-sizing: border-box;
            border-radius: 4px;
            font-family: $ibm-font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #54535C;
            text-align: center;
            padding-top: 6px;
            cursor: pointer;
            margin-right: 11px;
          }
          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            .btn {
              height: 30px;
              border: 1px solid #CED2D4;
              border-radius: 4px;
              background-color: #DC3545;;
              box-shadow: 0px 1px 4px #CED2D4;
              padding: 2px 20px;
              font-family: $ibm-font;
              font-style: normal;
              font-size: 12px;
              color: #FFFFFF;
            }
            input[type=file] {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
            }
          }
        }
      }
    }
  }

}

#terms-cond-modal{
  font-family: $ibm-font;
  font-style: normal;
  .modal-content {
    
    height: 690px;
    .modal-header {
      background: #F4F5F6;
      height: 84px;
      padding-top: 26px;
      .modal-title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #4A4952;
      }
      .close {
        padding: 0 16px 0 0;
      }
    }
    .modal-body {
      overflow-y: scroll;
      font-size: 14px;
      font-family: $ibm-font;
      padding: 20px;
    }
  }
}