%script{:src => "https://sdk.uiza.io/uizaplayer.js"}
/ 2. The video player will prepend the player into this <div> tag. You should create css style for this tag
#edit-live-event
  .header
    .title
      %span.big-tit Sale 2019
      %span.small-tit Buy unlimited items with Sale promotion
    .action
      .broadcasting
        %img.icon{:alt => "Smiley face",:src => "/img/icon/broad-icon.png"}
      .get-link-btn
        .label Get link play
      .get-embed-btn
        .label Get Embed
  .streaming-block
    .info
      .stream-url
        .label StreamURL
        %input
        %img.icon-copy{:alt => "Smiley face",:src => "/img/icon/copy-input.png"}
      .stream-key
        .label StreamKey
        %input
        %img.icon-copy{:alt => "Smiley face",:src => "/img/icon/copy-input.png"}
    .tutorial
      %span Input the StreamURL & StreamKey to Start your Live event. 
      %a{:href => "#"} Learn how to push signal
    .count-down-time
      .label Countdown Timer
      %img.icon-support{:alt => "Smiley face",:src => "/img/icon/support-icon.png"}
      .count-down
        %img.icon-lock{:alt => "Smiley face",:src => "/img/icon/lock-icon.png"}
        .text 02:15:30
    .live-player
      #player
  :javascript
    // 3. This code creates an UIZA player, and return the player for the callback
    UZ.Player.init(
      '#player', // player element, exp: #element_id, .element_class
      {
        appId: 'YOUR_APP_ID',
        playerId: 'YOUR_PLAYER_ID', // option
        playerVersion: 4, // you are using the newest player, player version support API version
        entityId: 'YOUR_ENTITY_ID',
        channelName: 'YOUR_CHANNEL_NAME',
        feedId: 'YOUR_FEED_ID',
        userInfo: 'YOUR_END_USER_INFO', // option, suggest this is the user id (for analytics)
        width: '100%', // player width, percentage or pixel, exp: '400px'
        height: '460px', // player height, percentage or pixel, exp: '200px'
      },
      function(player) {
        // 4. You can add logo at here
        // 5. You can add event listeners at here
        player.on('play', function() {
          console.log('play');
        });
        player.on('pause', function() {
          console.log('pause');
        });
      }
    );