#edit-live-event
  .header
    .title
      %span.big-tit Sale 2019
      %span.small-tit Buy unlimited items with Sale promotion
    .action-streaming
      .broadcasting
        %img.icon{:alt => "Smiley face",:src => "/img/icon/broad-icon.png"}
      .get-link-btn#get-link-btn{value: "#{request.base_url}/lives/#{params[:code]}"}
        .label Get link play
      .get-embed-btn#get-embed-btn{value: 'Get_embbed'}
        .label Get Embed
    .action-offline
      .broadcasting
        %img.icon{:alt => "Smiley face",:src => "/img/icon/broad-offline.png"}
      .get-link-btn
        .label Get link play
      .get-embed-btn
        .label Get Embed
  .streaming-block
    .info
      .stream-url
        .label StreamURL
        %input.stream-url-input{:disabled => true, :value => @live.stream_url}
        %img.icon-copy#copy-stream-url{:alt => "Smiley face",:src => "/img/icon/copy-input.png"}
      .stream-key
        .label StreamKey
        %input.stream-key-input{:disabled => true, :value => @live.stream_key}
        %img.icon-copy#copy-stream-key{:alt => "Smiley face",:src => "/img/icon/copy-input.png"}
    .tutorial
      %span Input the StreamURL & StreamKey to Start your Live event. 
      %a{:href => "https://help.uiza.io/en/articles/2998603-obs-guideline", :target => "_blank"} Learn how to push signal
    .count-down-time
      .label Countdown Timer
      %img.icon-support{:alt => "Smiley face",:src => "/img/icon/support-icon.png"}
      .count-down
        %img.icon-lock{:alt => "Smiley face",:src => "/img/icon/lock-icon.png"}
        .text 02:15:30
    .live-player
      %video#player{:autoplay => "", :crossorigin => "", "data-uiza-provider" => "hlsjs", :muted => "muted", :playsinline => ""}
:javascript
  var player = new Uiza(document.getElementById('player'), {
    iconUrl: '/img/icon/uiza.svg',
    urls: {
      hlsjs: {
        sdk: '/javascript/hls.min-v0.12.4.js'
      },
    },
    src: "#{@uiza_live_info['playback']['hls']}",
  });