= javascript_pack_tag 'live_detail'
%input#live_uiza_id{:name => "live_uiza_id", :type => "hidden", :value => @live.uiza_id}
.container
  .row
    .col
      #uiza-content
        = render 'layouts/toggleable_tabs'
        = render 'lives/edit'
