.container
  .row
    .col
      #uiza-content
        = render 'layouts/toggleable_tabs'
        #live-event-block
          .big-title
            Create Event For Your Live Streaming
          .live-form
            .name
              .label
                Name
                %span *
              %input.live-name{placeholder: "Event name (max 255 characters)"}
            .description-text
              .label
                Description
              .text
                %span Maximum live resolution: 720 px
                %br
                %span Live event duration: 30 mins/session/day
            %textarea.live-des
          #create-live-btn.create-live-btn
            .label Create live
          .sign-up-now
            %a{:href => "#{ENV['UIZA_SIGNUP_URL']}"} 
              %span Sign Up now
            %span for better experience and start building your awesome live stream appplication!
          .benefit
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Exclusive 2,000 free streamed minutes
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Full roadmap access and contribution
            .benefit-child
              %img.benefit-child-mark-icon{:alt => "Smiley face",:src => "/img/icon/mark.png"}
              %span Early access to new features and services
        -# = render 'lives/edit'

#process-modal-live.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .title
          Proccesing event
        %img.close-icon-modal-live{:alt => "uiza-upload",:src => "/img/icon/close-icon.png"}
      .modal-body
        .noitice
          %span.big-noitice Proccessing
          %span.small-noitice Please be patient while we create your resource anf start your live streaming 
        .icon-progress
          %img.center{:alt => "Smiley face",:src => "/img/icon/progress-icon.png"}
        .progress#progress-live
          .progress-bar-load
        .generate_key.ingest_key
          .label ingest_key
          %input
        .generate_key.stream_url
          .label stream_url
          %input