.row
  .col-md-3
  .col-md-6
    %video#player{:autoplay => "", :crossorigin => "", "data-uiza-provider" => "hlsjs", :muted => "", :playsinline => ""}
  .col-md-3
:javascript
  var player = new Uiza(document.getElementById('player'), {
    iconUrl: '/img/icon/uiza.svg',
    urls: {
      hlsjs: {
        sdk: '/javascript/hls.min-v0.12.4.js'
      },
    },
    src: "#{@uiza_live_info['playback']['hls']}",
  });