
.row
  .col-md-3
  .col-md-6
    %video#player{:autoplay => "", :crossorigin => "", "data-uiza-provider" => "hlsjs", :muted => "", :playsinline => ""}
  .col-md-3
:javascript
  var player = new Uiza(document.getElementById('player'), {
    iconUrl: '/player/uiza.svg',
    urls: {
      hlsjs: {
        sdk: '/player/libs/hls.min-v0.12.4.js'
      },
    },
    src: 'HLS_LINK',
  });