.container
  .row
    .col
      #header-uiza
        %img.uiza-logo{:alt => "Smiley face",:src => "/img/icon/uiza_logo_color.png"}
        .block-signin-signup
          .btn-sign-up
            %span Sign up
          .btn-sign-in
            %span Sign in



        
